* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: black;
  color: white;
}

main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  gap: 100px;
}

/* Panel Estatus - Información y Tips */
#panel-status {
  height: auto;

  background-color: rgba(16, 16, 16,0.2);
  backdrop-filter: blur(5px);

  border-radius: 15px;
  padding: 15px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}


/* Panel Central - Output Central e Interactuador*/
#panel-main {
  display: grid;
  height: auto;
  grid-template-rows: 1fr 2fr;

  background-color: rgba(20, 20, 20,0.2);
  backdrop-filter: blur(5px);

  border-radius: 15px;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#panel-process {
  height: auto;

  background-color: rgba(16, 16, 16,0.2);
  backdrop-filter: blur(5px);

  border-radius: 15px;
  padding: 15px;

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

canvas {
  display: flex;
  height: 100vh;
  width: 100vw;
  
  background: #101010;
  position: fixed;
  
  top: 0;
  left: 0;
  z-index: -1;
}